<section class="row">
  <div class="background bgsize">
    <div class="offset-xl-4 col-xl-4 offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 offset-1 col-10" align="center">

      <!--CARD DE VERIFICAR EMAIL-->
      <div class="card p-3 m-t-20 cardLogin-Register"
           style="">

        {{ parametro }}
        <button (click)="getParameterByName('id')">Hola</button>
      </div>

      <!--CARD DE CAMBIAR CONTRASEÑA-->
      <!--<div class="card p-3 m-t-20 cardLogin-Register"-->
           <!--style="">-->

      <!--</div>-->

    </div>
  </div>
</section>