<header class="header">
    <navigation-trigger></navigation-trigger>

    <div class="header__logo hidden-sm-down">
        <h1><a [routerLink]="['']">Argus 2.0</a></h1>
    </div>


    <ul class="top-nav">
        <li class="hidden-xl-up"><a (click)="search.searchActive = true"><i class="zmdi zmdi-search"></i></a></li>
        <li>
            <a (click)="userSignOut()">
                <i class="zmdi zmdi-search"></i>
            </a>
        </li>

        <li dropdown>
            <a dropdownToggle><i class="zmdi zmdi-email"></i></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="listview listview--hover">
                    <div class="listview__header">
                        Messages

                        <div class="actions">
                            <a href="messages.html" class="actions__item zmdi zmdi-plus"></a>
                        </div>
                    </div>

                    <a *ngFor="let message of messagesData" href="" class="listview__item">
                        <img [src]="message.image" class="listview__img" alt="">

                        <div class="listview__content">
                            <h3 class="listview__heading">
                                {{ message.name }}
                                <small>{{ message.date }}</small>
                            </h3>
                            <p>{{ message.message }}</p>
                        </div>
                    </a>

                    <a href="" class="view-more">Mirar todos los mensajes</a>
                </div>
            </div>
        </li>

        <li dropdown>
            <a dropdownToggle class="top-nav__notify"><i class="zmdi zmdi-notifications"></i></a>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="listview listview--hover">
                    <div class="listview__header">
                        Notifications

                        <div class="actions">
                            <a href="" class="actions__item zmdi zmdi-check-all" data-ma-action="notifications-clear"></a>
                        </div>
                    </div>

                    <a *ngFor="let message of messagesData" href="" class="listview__item">
                        <img [src]="message.image" class="listview__img" alt="">

                        <div class="listview__content">
                            <h3 class="listview__heading">{{ message.name }}</h3>
                            <p>{{ message.message }}</p>
                        </div>
                    </a>

                    <a href="" class="view-more">Mirar todas las notificaciones</a>
                </div>
            </div>
        </li>

        <li dropdown class="hidden-xs-down">
            <a dropdownToggle=""><i class="zmdi zmdi-more-vert"></i></a>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu--icon" role="menu">
                <div class="dropdown-item theme-switch">
                    Cambiar de tema

                    <div class="btn-group btn-group--colors mt-2">
                        <label class="btn bg-green" [(ngModel)]="maThemeModel" btnRadio="green" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-blue" [(ngModel)]="maThemeModel" btnRadio="blue" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-red" [(ngModel)]="maThemeModel" btnRadio="red" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-orange" [(ngModel)]="maThemeModel" btnRadio="orange" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-teal" [(ngModel)]="maThemeModel" btnRadio="teal" uncheckable (click)="setTheme()"></label>

                        <br>

                        <label class="btn bg-cyan" [(ngModel)]="maThemeModel" btnRadio="cyan" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-blue-grey" [(ngModel)]="maThemeModel" btnRadio="blue-grey" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-purple" [(ngModel)]="maThemeModel" btnRadio="purple" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-indigo" [(ngModel)]="maThemeModel" btnRadio="indigo" uncheckable (click)="setTheme()"></label>
                        <label class="btn bg-lime" [(ngModel)]="maThemeModel" btnRadio="lime" uncheckabl (click)="setTheme()"e></label>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</header>
