<section class="content content-standard" style=" height:100vh">
    <div class="row">
        <div class="col-12">
            <div class="card-body style-CardBody card">
                <div class="card provedorInfoLeft"
                     style="width:265px !important; height: 598px;padding-top: 30px; position: absolute;    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.075)!important; ">
                    <div class="row">
                        <div class="col-12">
                            <!--<div align="center">-->
                            <!--<div class="row">-->

                            <div class="row">
                                <div class="offset-2 col-8">
                                    <img src="../../../assets/images/userProfileWoman.png" alt="" style="width: 100%;">
                                </div>
                            </div>

                            <div class="heartBackground">

                                <i class="zmdi zmdi-favorite heartPosition" align="center"
                                   *ngIf="showHeartFull"></i>
                                <i class="zmdi zmdi-favorite-outline heartPosition" align="center"
                                   *ngIf="showHeart"></i>

                            </div>
                            <!--<i class="zmdi zmdi-circle-o zmdi-hc-5x"></i>-->

                            <!--</div>-->


                            <!--<i class="zmdi zmdi-circle-o zmdi-hc-5x" style="margin-left: 115px; margin-bottom: 10px;"></i>-->
                            <!--</div>-->
                            <div class="m-t-30" align="center" style="font-size: 20px">
                                {{datosPsServicio.nombrePrestador}}
                            </div>
                            <div align="center" class="m-t-20">
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                            </div>
                            <div align="center">
                                <div class="m-t-20" style="font-size: 16px">Teléfono(s):</div>
                                <div class="m-t-5">
                                    <i class="zmdi zmdi-phone zmdi-hc-lg"><label
                                            class="m-l-10">{{datosPsServicio.telefono}}</label></i>
                                </div>
                                <div>
                                    <i class="zmdi zmdi-whatsapp zmdi-hc-lg"><label
                                            class="m-l-10">{{datosPsServicio.telefono}}</label></i>
                                </div>
                            </div>
                            <div align="center">
                                <div class="m-t-20" style="font-size: 16px">Horarios:</div>
                                <label>{{datosPsServicio.horario}}</label>
                            </div>
                            <div align="center">

                                <button class="btn btn-danger btn-lg m-t-30 m-b-20"
                                        style=" border-radius: 5px 5px 5px 5px"><i
                                        class="zmdi zmdi-alert-circle"></i>
                                    Reportar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card provedorInfoTop m-b-0 p-bn-">
                    <div class="row m-t-15">
                        <div class="col-12" align="center">
                            <img src="../../../assets/images/userProfileWoman.png" alt="" style="width: 150px;">
                            <div class="heartBackground">

                                <i class="zmdi zmdi-favorite heartPosition" align="center"
                                   *ngIf="showHeartFull"></i>
                                <i class="zmdi zmdi-favorite-outline heartPosition" align="center"
                                   *ngIf="showHeart"></i>

                            </div>

                            <div class="reportBackground">

                                <i class="zmdi zmdi-alert-circle heartPosition" align="center"></i>

                            </div>
                            <div align="center" style="font-size: 20px">
                                {{datosPsServicio.nombrePrestador}}
                            </div>
                            <div align="center">
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                                <i class="zmdi zmdi-star zmdi-hc-2x" style="color: #ffe031"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Seccion de la derecha-->
                <div class="row m-l-0 m-r-0 provedorInfoRight">

                    <div class="col-12">

                        <div class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" routerLinkActive="active">
                                    <a class="nav-link" routerLinkActive="active" (click)="tab='acercaDe'"
                                       [routerLink]="['acercaDe']">Acerca de</a>
                                </li>
                                <li class="nav-item" routerLinkActive="active">
                                    <a class="nav-link" routerLinkActive="active"
                                       (click)="tab='comentarios'"
                                       [routerLink]="['comentarios']">Comentarios</a>
                                </li>
                                <li class="nav-item" routerLinkActive="active">
                                    <a class="nav-link" routerLinkActive="active" (click)="tab='galeria'"
                                       [routerLink]="['galeria']">Galeria</a>
                                </li>
                                <li class="nav-item" routerLinkActive="active">
                                    <a class="nav-link" routerLinkActive="active"
                                       (click)="tab='ubicacion'" [routerLink]="['ubicacion']"
                                    >Ubicación</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body"
                             style="overflow-y: auto; overflow-x: hidden; height: 500px; width: 100%; padding-right: 5%">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>