<section class="content content-standard" style=" height:100vh">
    <h1 align="center">
        <span style="color:#2574A9">Servicios</span>
    </h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let c of categoria">
            <div class="card card-size card-outline-info cardCategorinasStyle" (click)="verServicio(c.id)"
                 align="center">
                <div class="card-body style-CardBody card" style="">
                    <img src="{{ c.img }}" class="imagen" alt="">
                </div>
                <div class="card-footer p-b-0 style-CardFooter" (click)="verServicio(c.id)" align="center"
                     [style.backgroundColor]="c.color">
                    <span style="color: white; font-size: 26px;margin-top:50%!important;">{{ c.nombreServicio }}</span>
                </div>
            </div>
        </div>
    </div>

</section>
