<section class="content content-standard" style=" height:100vh">
    <h1 align="center">Servicios</h1>
    <div class="card card-size card-outline-info" style="margin-bottom: 20px!important;cursor: pointer;">

        <div class="card-body style-CardBody card" style="">

            <img src="../../../assets/images/plomero.jpg" class="imagen" alt="">
        </div>
        <div class="card-footer p-b-0 style-CardFooter" align="center" style="background-color: #607d8b">
            <span style="color: white; font-size: 26px;margin-top:50%!important;">Plomeros</span>
        </div>
    </div>
</section>
