<div class="background bgsize">
  <section class="row">
    <div class=" offset-xl-4 col-xl-4 offset-lg-3 col-lg-6 offset-md-2 col-md-8  offset-sm-1 col-sm-10">
      <div class="card p-3 m-t-50P cardStyle" >
        <div class="card-header" align="center">
          <h2>Has verificado tu email con éxito!</h2>
        </div>
        <div class="card-body" align="center">
          <i class="zmdi zmdi-thumb-up iconStyle animated {{ animatedIcon? 'tada' : '' }}"></i>
          <p class="f-s-18">Pulsa el siguiente botón para solicitar tu primer servicio</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-success btn-block f-s-18" (click)="verifyEmail()"><a [routerLink]="['/usuarios']" style="color: white;">Ir a la app</a></button>
        </div>
      </div>
    </div>
  </section>
</div>


