<section class="row" style="background-color: #42A5F5; height: 100vh">
    <!--<div class="offset-sm-2 col-sm-3">-->

    <!--<h2 style=" color: white !important; display: inline;">Argus App</h2>-->

    <!--<p style="margin-top: 30px; color: white !important; font-size: 14px">-->
    <!--En esta aplicación usted podrá administrar el control de asistencias sobre los guardias de Argus-->
    <!--</p>-->

    <!--<p class="mt-5 " style="color: white;font-size: 12px">Desarrollado por &#174; <a-->
    <!--href="https://tecnologiasintech.com" style="color: white;">Tecnologías Intech</a></p>-->
    <!--</div>-->
    <div class="offset-sm-4 col-sm-4" align="center">
        <div class="card p-3 m-t-20"
             style="height: 500px; padding-left: 0 !important;padding-right: 0 !important; margin-top:50px; box-shadow:0px 0px 15px #707070; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;">

            <div class="card-header" style="padding-bottom: 0px;">
                <ul class="nav nav-tabs">

                    <li class="nav-item {{ view == 'login' ? 'active':'' }}">
                        <a class="nav-link {{ view == 'login' ? 'active':'' }}" (click)="view = 'login'" style="margin-left:30px;">
                            <span>Iniciar sesión</span>
                        </a>
                    </li>


                    <li class="nav-item {{ view == 'registrate' ? 'active':'' }}" >
                        <a class="nav-link {{ view == 'registrate' ? 'active':'' }}"  (click)="view = 'registrate'" style="margin-left:65px;">

                            <span>Registrate</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="card-body ml-3 mr-3" style="margin-left: 30px!important;margin-right: 30px!important;"
                 align="left">

                <div *ngIf="view == 'login'">

                    <div class="row" >
                        <div class="col-11">
                            <div class="form-group form-group--float mb-0">
                                <input class="form-control p-3" type="text" formControlFloat autofocus>
                                <label style=""><i class="zmdi zmdi-account" style="margin-right: 10px"></i>Correo electrónico</label>
                                <i class="form-group__bar" ></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-11">
                            <div class="form-group form-group--float mb-0">
                                <input class="form-control p-3" type="text" formControlFloat autofocus>

                                <label><i class="zmdi zmdi-lock" style="margin-right: 10px"></i>Contraseña</label>
                               <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-1" style="margin-top: 45px;">
                            <i class="zmdi zmdi-eye-off zmdi-hc-lg" *ngIf="!showPassLogin" (click)="showPassLogin=!showPassLogin" ></i>
                            <i class="zmdi zmdi-eye zmdi-hc-lg" *ngIf="showPassLogin" (click)="showPassLogin=!showPassLogin" placement="right" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."  style="cursor: pointer"></i>
                        </div>
                        <div style="margin-top: 20px; margin-left:130px; cursor: pointer">¿Olvidaste tu contraseña?</div>

                    </div>

                    <div align="right">
                        <button class="btn btn-success btn-lg" style=" border-radius: 5px 5px 5px 5px; margin-top: 20px; margin-right: 140px; margin-bottom: 20px;">
                            Ingresar
                        </button>
                    </div>

                </div>

                <div *ngIf="view == 'registrate'">

                    <!--formulario de registrate-->
                    <div class="row">
                        <div class="col-11">
                            <div class="form-group form-group--float mb-0">
                                <input class="form-control p-3" type="email" formControlFloat autofocus>
                                <label style=""><i class="zmdi zmdi-email IconSpace"></i> Correo electrónico</label>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <div class="form-group form-group--float mb-0">
                                <input class="form-control p-3" type="tel" formControlFloat autofocus>
                                <label><i class="zmdi zmdi-phone IconSpace"></i>Telefono</label>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <div class="form-group form-group--float mb-0">
                                <input type="{{ShowPassRegister? 'text':'password'}}" class="form-control p-3" type="password" formControlFloat autofocus>
                                <label><i class="zmdi zmdi-lock IconSpace"></i>Contraseña</label>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-1 marginTopIconView">
                            <i class="zmdi zmdi-eye-off cursor-pointer zmdi-hc-lg" (click)="ShowPassRegister=!ShowPassRegister" *ngIf="!ShowPassRegister"></i>
                            <i class="zmdi zmdi-eye cursor-pointer zmdi-hc-lg" (click)="ShowPassRegister=!ShowPassRegister" *ngIf="ShowPassRegister"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <div class="form-group form-group--float mb-0">
                                <input type="{{ShowVerifyPass? 'text':'password'}}" class="form-control p-3" type="password" formControlFloat autofocus>
                                <label><i class="zmdi zmdi-lock IconSpace"></i>Repetir Contraseña</label>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-1 marginTopIconView">
                            <i class="zmdi zmdi-eye-off cursor-pointer zmdi-hc-lg"  (click)="ShowVerifyPass=!ShowVerifyPass" *ngIf="!ShowVerifyPass"></i>
                            <i class="zmdi zmdi-eye cursor-pointer zmdi-hc-lg"  (click)="ShowVerifyPass=!ShowVerifyPass" *ngIf="ShowVerifyPass"></i>
                        </div>
                    </div>





                    <div align="right" style="margin-top: 20px;">
                        <button class="btn btn-success btn-lg " style=" border-radius: 5px 5px 5px 5px;">Registrate
                        </button>
                    </div>

                </div>
            </div>

            <div class="card-footer" style="padding-right: 0;padding-left: 0;">

                <div class="authSocial" style="border-radius: 0 0 10px 10px;width: 100%">


                </div>

            </div>
        </div>
    </div>
</section>
