<section class="row" style="background-color: #42A5F5; height: 100vh; padding-top: 20%">
    <!--<div class="offset-sm-2 col-sm-3">-->

    <!--<h2 style=" color: white !important; display: inline;">Argus App</h2>-->

    <!--<p style="margin-top: 30px; color: white !important; font-size: 14px">-->
    <!--En esta aplicación usted podrá administrar el control de asistencias sobre los guardias de Argus-->
    <!--</p>-->

    <!--<p class="mt-5 " style="color: white;font-size: 12px">Desarrollado por &#174; <a-->
    <!--href="https://tecnologiasintech.com" style="color: white;">Tecnologías Intech</a></p>-->
    <!--</div>-->
    <div class="offset-sm-4 col-sm-4" align="center">
        <div class="card p-3"
             style="height: 400px; box-shadow:0px 0px 15px #707070; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;">

            <div class="card-header">
                <ul class="nav nav-tabs">

                    <li class="nav-item {{ view == 'login' ? 'active':'' }}">
                        <a class="nav-link {{ view == 'login' ? 'active':'' }}" (click)="view = 'login'">
                            <span>Iniciar sesión</span>
                        </a>
                    </li>

                    <li class="nav-item {{ view == 'registrate' ? 'active':'' }}" >
                        <a class="nav-link {{ view == 'registrate' ? 'active':'' }}"  (click)="view = 'registrate'">
                            <span>Registrate</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="card-body ml-3 mr-3" align="left">

                <div *ngIf="view == 'login'">

                    <div class="form-group form-group--float mb-0">
                        <input class="form-control p-3" type="text" formControlFloat autofocus>
                        <label style="">Correo electrónico</label>
                        <i class="form-group__bar"></i>
                    </div>

                    <div class="form-group form-group--float">
                        <input class="form-control p-3" formControlFloat type="password"
                        >
                        <label >Contraseña</label>
                        <i class="form-group__bar"></i>
                    </div>

                    <div align="right">
                        <button class="btn btn-success btn-lg" style=" border-radius: 5px 5px 5px 5px;">
                            Ingresar
                        </button>
                    </div>

                </div>

                <div *ngIf="view == 'registrate'">



                </div>

            </div>

            <div class="card-footer">

                <div class="authSocial">



                </div>

            </div>
        </div>
    </div>
</section>
