<section class="section-provedores">

    <div class="card p-3 p-b-20">

        <div class="row">
            <div class="col-2 m-l-30 proveedor-col-imagen">

                <div>
                    <img src="../../../../assets/images/user.png" class="provedor-imagen" alt="">
                </div>
                <div class="provedor-nombre">
                    Juan Bracamontes
                </div>

            </div>

            <div class="col-6 provedor-col-descripcion">

                <div class="provedor-descripcion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur dolorum eos fugit,
                    laborum quaerat quam quidem quisquam quod reiciendis sed velit! A earum iure odio optio ratione
                    sequi ullam?
                </div>

                <div class="row m-t-15">
                    <div class="col-6 provedor-trabajos-realizados">
                        Trabajos realizados (52)
                    </div>
                    <div class="col-6 provedor-estrellas">
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                    </div>
                </div>

            </div>
            <div class="col-1 provedor-corazon">
                <i class="zmdi zmdi-favorite"></i>
            </div>
            <div class="col-2 provedor-columna-botones">
                <button class="btn btn-outline-success provedor-contratar">Contratar</button>
            </div>
        </div>

    </div>

    <div class="card p-20">

        <div class="row">

            <div class="col-2" align="center">

                <div>
                    <img src="../../../../assets/images/user.png" class="provedor-imagen" alt="">
                </div>
                <div class="provedor-nombre" style="color: #2980b9; cursor: pointer;">
                    Ver perfil
                </div>

            </div>

            <div class="col-8">

                <div class="row">
                    <div class="col-4 p-r-0 provedor-trabajos-realizados">
                        Trabajos realizados (52)
                    </div>
                    <div class="col-4 p-l-0 provedor-estrellas">
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                        <i class="zmdi zmdi-star"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="provedor-descripcion m-t-15">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur dolorum eos
                            fugit,
                            laborum quaerat quam quidem quisquam quod reiciendis sed velit! A earum iure odio optio
                            ratione
                            sequi ullam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis earum
                            eligendi est eveniet fuga iure molestiae nulla praesentium sit tenetur! Impedit ipsum quam
                            quod. Maiores sint suscipit totam vitae voluptates.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-2">

                <div class="row">
                    <div class="col-12" align="right">
                        <div class="" style="    margin-right: 20px;
    margin-top: -15px;
    margin-bottom: 10px;    color: #e74c3c; cursor: pointer;
    font-size: 45px;">
                            <i class="zmdi zmdi-favorite"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-1 col-10" align="right">
                        <button class="btn btn-success provedor-ver-perfil m-t-25">Contratar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="card p-20">

        <div class="row">

            <div class="col-2" align="center">

                <div class="cursor-pointer">
                    <img src="https://lh4.ggpht.com/p8bc2PwMaWnASgcGuTSVKbunXJ-cgJmPPEDsIDtxLwj6v2BPyPUuiaeVCghNufYCJZQ=w300" style="width: 100%;" alt="">
                </div>

            </div>

            <div class="col-7">

                <div class="p-r-0">
                    <span style="font-size: 18px; cursor: pointer;">Trabajo de plomeria el mejor de todo hermosillo</span>
                </div>

                <div class="m-t-10 p-l-0 provedor-estrellas">
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star-half"></i>
                    <i class="zmdi zmdi-star-outline"></i>
                </div>

                <div class="m-t-10" style="color: #3498db;">
                    Trabajos realizados (402)
                </div>
            </div>

            <div class="col-3">

                <div class="" align="right">
                    <div class="" style="    margin-right: 20px;
    margin-top: -5px;
    margin-bottom: 5px;    color: #e74c3c; cursor: pointer;
    font-size: 25px;">
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>

                <div style="font-size: 24px; color: #535353; font-weight: 400;" align="right">
                    Desde $100
                </div>

                <div class="" align="right">
                    <button class="btn btn-outline-success provedor-ver-perfil m-t-25" style="font-size: 14px">
                        Contratar ahora
                    </button>
                </div>

            </div>

        </div>

    </div>

</section>