<div class="background bgsize">
  <section class="row">
    <div class="offset-xl-4 col-xl-4 offset-lg-3 col-lg-6 offset-md-2 col-md-8  offset-sm-1 col-sm-10 card p-3 " style="margin-top: 50px; width: 400px; height: 400px; border-radius: 3%">
      <!--Card header-->
      <div class="card-header" align="center">
        <h2>Recuperar tu contraseña</h2>
      </div>
      <!--Card body-->
      <div class="card-body" align="center" style="height: 300px">
        <div class="row">
          <div class="col-10">
            <div class="form-group form-group--float mb-0" align="center">
              <input class="form-control p-3" type="{{showPassLogin? 'text':'password'}}" formControlFloat autofocus
                     required>
              <label class=""><i class="zmdi zmdi-lock m-r-10"></i>Nueva contraseña</label>
              <i class="form-group__bar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button>holi</button>
      </div>
      <!--Card footer-->
    </div>
  </section>
</div>
